#tags {
  width: 70%;
  /* margin: 0px auto; */
}

#tags .ReactTags__tags {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff2e1;
  padding: 5px 10px;
  border: 2px solid #fff2e1;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
}

#tags .ReactTags__selected {
  display: flex;
}

#tags .ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

#tags .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}

#tags .ReactTags__tagInput input.ReactTags__tagInputField, #tags .ReactTags__tagInput  {
  height: 31px;
  margin: 0;
  font-size: 14px;
  min-width: 180px;
  padding: 0px 10px;
}

input.ReactTags__tagInputField:focus{
  border: 1px solid #d39737;
  border-radius: 5px;
}

#tags .ReactTags__editInput {
  border-radius: 1px;
}

#tags .ReactTags__editTagInput {
  display: inline-flex;
}

#tags .ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #d39737;
  color: white;
  font-size: 14px;
  display: flex;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
}

#tags .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

#tags .ReactTags__suggestions {
  position: absolute;
}

#tags .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

#tags .ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

#tags .ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

#tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#tags .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  margin-left: 5px;
}

#tags input {
  background-color: #fff2e1;
  border: none;
  outline: none;
  font-family: sans-serif;
}

#tags input:before {
  border: none;
}